*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(Desktop-ModelY.jfif);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 320px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 7%;
}