*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(M3-Homepage-Desktop-LHD.jfif);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 320px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 7%;
}
.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
}
.info div{
    margin: 0 20px;

}
.info div h2{
    font-size: 44px;
    font-weight: 400;
}
.info .line{
    flex: 1;
    background: #fff;
    height: 4px;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{

    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
 campus-btn{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 7%;
    }

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
/*-- ----- More --------*/
